*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'TT Hoves';
    src: url(./fonts/TTHoves/TT\ Hoves\ Pro\ Trial\ Regular.ttf);
 }

 @font-face {
    font-family: 'Vampiro One';
    src: url(./fonts/vompire/VampiroOne-Regular.ttf);
 }
.container{
    max-width: 1199px;
    margin: 0 auto;
}

.home{
    background-image: url(./images/img1.png);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    width: 100%;
    height: 840px;
}
.logo{
    margin-bottom: 90px;
}
.services{
    text-align: center;
}

.services .container .service_head {
    background: #F2F2F2;
    border-radius: 0px 0px 50px 50px;
    width: 698px;
    height: 292px;
    margin-left: 251px;
    padding: 100px;
    margin-bottom: 40px;
}

.services .container .service_head .title{
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    color: #333333;

}

.services .container .service_head  .subtitle{
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #E15252;

}


.service_items{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}


.service_items .item{
    margin-right: 72px;
}

.service_items .item:last-child{
    margin-right: 0;
}

.service_items .item img{
    margin-bottom: 8px;
}


.service_items .item .item_body .title{
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #333333;

}

.service_items .item .item_body .subtitle{
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #4F4F4F;
}


.services .container .sumbit{
    margin-bottom: 50px;
}
.services .container .sumbit a{
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    padding: 12px 28px;
    background: #E15252;
    box-shadow: 0px 4px 20px rgba(225, 82, 82, 0.5);
    border-radius: 42px;
    text-decoration: none;
}

.aboutUs{
    background-image: url(./images/img3_1.png);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
.aboutUs .about_head{
    text-align: center;
    padding-top: 50px;
    margin-bottom: 50px;
    
}



.aboutUs .about_head .title{
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    margin-bottom: 10px;
    color: #FFFFFF;

}


.aboutUs .about_head .subtitle{
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #333333;
}

.aboutUs .about_body{
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border-radius: 50px 50px 0px 0px;
}

.aboutUs .about_body .about_b_left{
    margin-right: 30px;
}
.aboutUs .about_body .about_b_left img{
    width: 496px;
}


.aboutUs .about_body .about_b_right .title{
    font-family: 'Vampiro One';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 100%;
    color: #333333;
    margin-bottom: 22px;
}
.aboutUs .about_body .about_b_right .line{
    background: #E15252;
    border-radius: 1px;
    width: 90px;
    height: 2px;
    margin-bottom: 22px;
}
.aboutUs .about_body .about_b_right .subtitle{
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #4F4F4F;
    width: 352px;
    margin-bottom: 30px;
}

.aboutUs .about_body .about_b_right  .sumbit a{
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background: #E15252;
    box-shadow: 0px 4px 20px rgba(225, 82, 82, 0.5);
    border-radius: 42px;
    padding: 12px 28px;
    text-decoration: none;
}

.contactUs{
    background-image: url(./images/contact.png);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    padding-bottom: 50px;
}

.contactUs .container{
    background: #E15252;
    border-radius: 0px 0px 50px 50px;
    padding: 100px 302px 140px 110px;
}
.contactUs .contact_head{
    text-align: center;
    margin-bottom: 50px;
}

.contactUs .contact_head .title{
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
}

.contactUs .contact_head .subtitle{
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #333333;
}

.contact_body{
    display: flex;
}

.contact_body_left form input{
    background: #FFFFFF;
    border-radius: 61px;
    width: 374px;
    height: 56px;
    margin-bottom: 14px;
    border: none;
}

.contact_body_left form .btn{
    border: 3px solid #FFFFFF;
    border-radius: 61px;
    width: 168px;
    height: 56px;
    margin-left: 103px;
}

.contact_body_right .mail, .contact_body_right .phone_number, .contact_body_right .address{
    display: flex;
    align-items: center;
    margin-bottom: 37px;
}

.contact_body_right .mail img, .contact_body_right .phone_number img, .contact_body_right .address img{
    margin-right: 23px;
}
.contact_body_right .mail a, .contact_body_right .phone_number a, .contact_body_right .address a{
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: #FFFFFF;
    width: 270px;
}

footer{
    height: 92px;

    background: #C4C4C4;
}

